body{
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES */

header{
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 65px;

    background-color: #fff;
    border: 0;
}

header a{
    font-size: 1.7em;
    text-decoration: none;
    color: red;
}

header a:first-child{
    font-weight: bold;
}

.header-inner-left{
    padding: 1.3% 2%;
    width: 60%;
}

.header-inner-right{
    display: flex;
    justify-content: end;
    padding: 1.3% 2%;
    width: 40%;
}

.header-inner-right button{
    margin-left: 10px;
    font-size: 0.9em;
    background-color: transparent;
    border: solid 0.5px lightgrey; 
}

.header-inner-right img{
    margin-left: 10px;
    width: 25px;
    border: none;
}

/* ARTICLE HEADER IMAGE STYLES */

.article-header {
    position: relative;
    width: 100%;
}

.article-header img {
    width: 100%;
    height: auto;
}

.article-header .text {
    position: absolute;
    top: 5vh;
    margin: 0 10%;
    max-width: 100%;

    font-size: 60px;
    text-align: center;
    line-height: 1;

    color: white;
}

.article-header .caption {
    position: relative;
    margin: 5px 0 0 19.2118226601%;
    padding-bottom: 0.5rem;

    font-size: 0.8rem;
    color: grey;
}

/* ARTICLE BODY STYLES -- PROBS WHERE YOU WANT TO STYLE YOUR CONTENT*/
.article-content{
    position: relative;
    margin-left: 19.2118226601%;
    padding-bottom: 3.1rem;
    width: 61.5763546798%;

    z-index: 1;
}

.article-content p{
    font-size: 1rem;
}

/* FOOTER STYLES */

footer{
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;

    /* width: 100%; */
    height: 200px;

    font-weight: 100;
    background-color: #fff;
    border: 0;
    border-top: solid 1px lightgrey;
}

footer a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

footer a:hover{
    color: lightgrey;
}

.column{
    width: 32%;
}

.footer-inner-left{
    padding: 1.3% 2%;
}

footer span{
    font-size: 1.7em;
    text-decoration: none;
}

footer span:first-child{
    font-weight: bold;
}

.footer-inner-rightest{
    display: flex;
    justify-content: end;
    padding: 1.3% 2%;
}

.footer-inner-rightest button{
    margin-left: 10px;
    height: 25px;

    font-size: 0.9em;
    background-color: transparent;
    border: solid 0.5px lightgrey; 
}

/* MOBILE RESPONSIVENESS */

@media only screen and (max-width: 736px) {
    .mobile-hide{
        display: none;
    }

    .header-inner-left{
        padding: 4% 5%;
    }

    .header-inner-right img{
        margin: 5%!important;
    }

    .article-header .text {
        font-size: 40px;
    }

    .article-header .caption {
        margin: 5px 0 0 5%;
    }

    .article-content {
        margin-left: 0;
        width: 100%;
    }

    .article-content p{
        margin: 5%;
    }

    footer{
        padding-left: 5%;
    }

}